extends /modules/pug/blocks/ejercicios
block pug_javascript
    -
        let titulo = "Ejemplo 1",
            formato = ""
        let codepen_list = [
            "vYEPxPX",
            "BaybRKr",
        ]
        nej = 1 // <== EXERCISE NUMBER - REPLACE IT
block pug_styles
    +new_style(`../styles.css`)
block html_javascript
    +new_script(`../scripts.js`)
block pug_contenido
    +code_html("01", "HTML", "CSS", "JS")
    .tabcontent#HTML-01: :markdown-it(html)
            ```html
            <p>Hello world - 3</p>
            ```
    .tabcontent#CSS-01: :markdown-it(html)
            ```css
            p {
                color: green;
            }
            ```
    .tabcontent#JS-01: :markdown-it(html)
            ```javascript
            const d = p.querySelector("d");
            d.style.fontSize = "2em";
            ```
    hr
    hr
    +codepen_flex("BaybRKr",1)
    +codepen_flex_live("BaybRKr",1)
    +codepen_flex_all("BaybRKr",1)
    hr
    +html_emb_ej("ej-01")
    .tab-content
        +tab_info(0, "HTML", "CSS", "JS")
        .tabcontent#HTML-0
            :markdown-it(html)
                ```html
                <p>Hello world</p>
                ```
        .tabcontent#CSS-0
            :markdown-it(html)
                ```css
                p {
                    color: red;
                }
                ```
        .tabcontent#JS-0
            :markdown-it(html)
                ```javascript
                const p = p.querySelector("p");
                p.style.fontSize = "2em";
                ```
    hr
    hr
    +code_html("02", "HTML", "CSS", "JS")
    .tabcontent#HTML-02: pre: code.hljs: :highlight(lang="html")
        <p>Hello world - 3</p>
    .tabcontent#CSS-02
        pre: code.hljs: include:highlight(lang="scss") ../ejemplos/ej-02/styles.scss
    .tabcontent#JS-02
        pre: code.hljs: include:highlight(lang="typescript") ../ejemplos/ej-02/script.ts


